<!doctype html>
<html>
  <head>
  	<meta charset="UTF-8">
	<title>HÜ</title>
	<link rel="stylesheet" href="css/stylesheet.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
		<header><h1>WO könnte IHRE Werbug stehen!</h1></header>
		<nav>
			<ul>
				<li><a href="http://www.htlkrems.ac.at/hp/home/" title="HTL KREMS" target="blank">HTL Krems</a></li>
				<li><a href="http://www.htlkrems.ac.at/hp/home/" title="HTL Zwettl" target="blank">HTL Zwettl</a></li>
				<li><a href="http://www.bhak-bhas-zwettl.ac.at/" title="HAK Zwettl" target="blank">HAK Zwettl</a></li>
			</ul>

		</nav>
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<main>
					<div class="row">
			  			<div class ="col-xs-12 col-md-4">
			  				<article>
			  					Hallo
			  				</article>
			  			</div>
			  			<div class ="col-xs-12 col-md-4">
			  				<article>
			  					Hallo
			  				</article>
			  			</div>
			  			<div class ="col-xs-12 col-md-4">
			  				<article>
			  					Hallo
			  				</article>
			  			</div>
			  		</div>
				</main>
			</div>
			<div class="col-xs-12 col-md-4">
				<main>
					<div class"row">
						<div class="col-xs-12">
							<article>
			  					Hallo
			  				</article>
			  			</div>
					</div>
				</main>
			</div>
		</div>
		<footer><h1>Hier nicht mehr!</h1></footer>	
	</div>
  </body>
</html>