body{
	padding:0px;
	margin:0px;
}
.container{
	margin:auto;
	width:1180px;
	padding:50px;
	background-color:black;
}
header{
	height:200px;
	background-color:red;
	margin-bottom:10px;
}
h1{
	color:white;
}
nav{
	margin-bottom:10px;
}
ul {
    list-style-type: none;
    background-color: #333333;
	margin:0px;
	padding:0px;
	overflow:auto;
}

li {
    float: left;
	border-right-style: solid;
	border-color:#aaaaaa;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
	color:#aaaaaa;
}
main{
	background-color:green;
	margin-top: 10px;
	height:200px;
}

}
aside{
	height:200px;
	background-color:blue;
	
}
footer{
	margin-top:10px;
	background-color:red;
	height:200px;
}
article{
	background-color: white;
	margin-top: 10px;
}

